/*---Base Element Styles-----
===========================*/


* {
    box-sizing: border-box;
}

body {    
    color:   #252626;
    margin: 0;
    padding: 0;
    max-width: 100%;  
    color: #292929;
    font-family: 'Domine', serif;
}


/*---Layout Containers-------
===========================*/

.checkbox-container {
    margin-bottom: 10px;
    padding-bottom: 10px;

    margin-top: 5px;
    padding-top: 5px;
   
}

.radio-container {
    margin-top: 10px;
}

.button-container { 
    margin: 0 15px;   
    display: flex;   
    justify-content: center;     
}

.textarea-container {
    margin: 0;    
}

.radio-container {
    padding-bottom: 20px;
}


 /*---Page Elements----------
===========================*/

.main-header {
        text-align: center;
        margin-bottom: 20px;
        padding: 0;
} 

h1 {
    color: white;
    background-color: black;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 20px;
}

h2 {
    font-size: 22px;
    margin: 30px 20px 0px 20px;    
    padding: 0;    
}

p {
    font-size: 14px;
    margin: 10px 15px 0px 15px;  
    padding: 0px 0px 40px 0px;
    border-bottom: solid 2px black;
    font-weight: bold;
    position: relative;
    margin-bottom: 2px;
}

p:after {
    content: '';
    border-bottom: solid 4px black;
    width: 100%;
    position: absolute;
    bottom: 3px;
    left: 0;
}

fieldset {
    border: none;
    margin: 0 15px;
    padding: 0;
}

#contact {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    width: 90%;
    margin: 20px 0px 20px 0px; 
    padding-top: 5px;
    padding-bottom: 5px;
}

.required {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: none;
    background-color: #edf4f5;
    text-align: right;
    padding-right: 20px;
}

#state {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: none;
    background-color: #edf4f5;
    text-align: right;
    padding-left: 10px;
}

#zip {
    max-width: 50%;
    margin-bottom: 30px;
}

.newsletter-legend {
    font-size: 22px;
    font-weight: bold;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 20px;
    border-top: black solid 2px;
}

.checkbox {
    margin-top: 10px;
    margin-bottom: 10px;   
}

.radio {
    margin-top: 10px;
    margin-bottom: 10px;    
}

textarea {
    margin-top: 20px;   
}

#text {
    width: 100%;
    height: 100px;
    background-color: #edf4f5;
    border: none;
    margin-bottom: 20px;
}

button {  
    width: 100%;
    font-size: 20px;
    text-align: center;
    border: none;    
    font-weight: bold;
    color: white;
    height: 70px;
    background-color: blue;   
}

footer {
    text-align: center;
    font-style: italic;
    padding-top: 30px;
    padding-bottom: 200px;
}


/*- CSS transitions----------
==== for focus states======*/

.required:hover {
    border: blue solid 2px;
    background-color: white; 
}

#state:hover {
    border: blue solid 2px;
    background-color: white;   
}

.radio:hover {
  color: red;
  font-weight: bold;
  font-size: 30px; 
}

.checkbox-label:hover {
    color: blue;
    font-weight: bold;
    font-size: 30px;
}

.textarea-container:hover {
    background-color: white;
    color: blue;
    font-size: 24px;
    font-weight: bold;
}

.button:hover {
    background-color: red;
    color: white;
    border:2px solid orange;
    box-shadow: 0 0 10px orange;
    font-size: 30px; 
 }

 textarea:focus { 
    outline: none;
    border-color: blue;    
    box-shadow: 0 0 10px blue;
    transition: all .75s;       
}

input:focus { 
    outline: none;
    background-color: white;
    border:1px solid red;
    box-shadow: 0 0 10px red; 
    transition: all .75s;   
}

select:focus {
    outline: none;
    background-color: white;
    border:1px solid blue;
    box-shadow: 0 0 10px blue;
    transition: all .75s;   
}


/*---MEDIA QUERY----------------
/* media query screen 768px---*/

 @media (min-width: 768px)  {


/*---Layout Containers-------
===========================*/

.button-container {    
    display: flex;   
    justify-content: center;
    padding: 0;
    margin: auto;
    width: 50%;
    }       


/*---Flexbox Container-------
===========================*/

.contact-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 25%;
    margin-right: 25%;    
}


 /*---Page Elements----------
===========================*/

h1 {
    width: 100%;
}

h2 {
    font-size: 22px;
    margin-left: 25%;
    margin-right: 25%;    
    padding: 0;    
}

p {
    font-size: 14px;
    margin: 10px 25% 0px 25%;
    padding: 0px 30px 40px 30px;
    border-bottom: solid 2px black;
    font-weight: bold;
    position: relative;
    margin-bottom: 2px;
}

p:after {
    content: '';
    border-bottom: solid 4px black;
    width: 100%;
    position: absolute;
    bottom: 3px;
    left: 0;
}

.contact-label {
    margin-top: 25px;
    width: 25%;    
} 

.required,
#state {
    width: 75%;     
 }

#zip {
    width: 40%;
}

.newsletter-legend {
width: 50%;
margin-left: 25%;
margin-right: 25%;
}

.format-legend {

    margin-left: 25%;
    margin-right: 25%; 
}

.radio-container,
.newsletter-legend-label {
    margin-left: 25%;
    margin-right: 25%; 
}

.checkbox-container {
    width: 50%; 
    margin: auto; 
    padding-bottom: 20px;
}

.textarea-container,
#contact {
    width: 50%; 
    margin: auto;  
}

#text {
    width: 100%;
    height: 80px;
    background-color: #edf4f5;
    border: none;
}

button {  
    width: 100%;
    padding: 0;
    text-align: center;
    border: none;    
    font-weight: bold;
    color: white;
    height: 70px;
    background-color: blue;   
}


}

 