/*---Base Element Styles-----
===========================*/
* {
    box-sizing: border-box;
}

body {    
    color:   #252626;
    margin: 0;
    padding: 0;
    max-width: 100%;  
}


/*---Layout Containers-------
===========================*/
.container {

}

.contact-container {

}

.checkbox-container {

}

.radio-container {

}


 /*---Page Elements----------
===========================*/
.main-header {
        text-align: center;
        margin-bottom: 20px;
        padding: 0;
} 

h1 {
    color: white;
    background-color: black;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}

h2 {
    font-size: 22px;
    margin: 25px 20px 0px 20px;    
    padding: 0;    
}

p {
    font-size: 14px;
    margin: 10px 15px 0px 15px;  
    padding: 0px 0px 40px 0px;
    border-bottom: solid 2px black;
    font-weight: bold;
    position: relative;
    margin-bottom: 2px;
}


p:after {
    content: '';
    border-bottom: solid 4px black;
    width: 100%;
    position: absolute;
    bottom: 3px;
    left: 0;
    }

fieldset {
    border: none;
}

#contact {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    width: 90%;
    margin: 10px 0px 10px 0px; 
}

.required {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: #edf4f5;
    text-align: right;
    padding-right: 20px;
}

#state {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: #edf4f5;
    text-align: right;
    padding-left: 10px;
}

#zip {
    max-width: 50%;
}

.newsletter-legend {
    font-size: 22px;
    font-weight: bold;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 20px;
    border-top: black solid 2px;
}

.checkbox-container {
    margin-bottom: 10px;
}
.radio-container {
    margin-top: 10px;
}

.checkbox {
    margin-top: 10px;
    margin-bottom: 10px;   
}

.radio {
    margin-top: 10px;
    margin-bottom: 10px;    
}

textarea {
    margin-top: 20px;   
}

textarea:focus { 
    outline: none !important;
    border-color: red;
    box-shadow: 0 0 10px red;      
}

input:focus { 
    outline: none !important;
    border:1px solid red;
    box-shadow: 0 0 10px red;   
}

select:focus {
    outline: none !important;
    border:1px solid red;
    box-shadow: 0 0 10px red; 
}



#text {
    width: 100%;
    height: 90px;
    background-color: #edf4f5;
    border: none;
}

.button {
    margin-left: 15px;
    margin-right: 15px;
}

.sign-up {
    width: 100%;
    height: 80px;
    font-weight: bold;
    color: white;
    background-color: blue;
}

footer {
    text-align: center;
    font-style: italic;
    padding-top: 30px;
    padding-bottom: 200px;
}

/*---MEDIA QUERY----------------
/* media query screen 768px---*/

 @media (min-width: 768px)  {

/*---Layout Containers-------
===========================*/
.contact-container {
    display: flex;
    display: row;
    flex-wrap: wrap;
    margin-left: 25%;
    margin-right: 25%;    
}



 /*---Page Elements----------
===========================*/

h2 {
    font-size: 22px;
    margin: 25px 20px 0px 20px;    
    padding: 0;    
}

p {
    font-size: 14px;
    margin: 10px 25% 0px 25%;
    padding: 0px 0px 40px 0px;
    border-bottom: solid 2px black;
    font-weight: bold;
    position: relative;
    margin-bottom: 2px;
}

p:after {
    content: '';
    border-bottom: solid 4px black;
    width: 100%;
    position: absolute;
    bottom: 3px;
    left: 0;
    }

#contact {
    width: 50%; 
    margin: auto;
}

.contact-label {
    margin-top: 25px;
    width: 25%;
    
} 

.required {
    width: 75%;     
}

#state {
    width: 75%;
}

#zip {
    width: 40%;
}

.newsletter {
    width: 50%; 
    margin: auto;  
}

.textarea-container {
    width: 50%; 
    margin: auto;  
}

.sign-up {
    display: block;
    width: 50%;
    margin-left: 25%; 
    margin-right: 25%;
}







 }

 