/*---Base Element Styles-----
===========================*/
* {
    box-sizing: border-box;
}

body {
    
    color:   #252626;
    margin: 0;
    padding: 0;
    max-width: 100%;
    line-height: 1.7;   
}


/*---Layout Containers-------
===========================*/
.container {
    display: flex;
    flex-direction: column;
}

    margin: 0;
    padding: 0;
}

.header-container {
    text-align: center;
    padding-top: 0px; 
}

.contact-container {
    margin: 0px 10px 0px 10px;
    border-top: solid black 2px;
}


.radio-container {

}

.textarea-container {

}

 /*---Page Elements----------
===========================*/
h1 {
    margin: 0;
    padding: 20px 10px 40px 10px;
    background-color: black;
    color: white;  
    font-size: 20px;
}

.main-header h2 {
    font-size: 20px;
    
  
}

.main-header p {
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 30px;
    border-bottom: solid black 5px;
}

.contact-container h2 {
  
    padding: 0;   
}

.checkbox-container {
    margin-left: 10px;
    margin-right: 10px;
}

.radio-container {
    margin-left: 10px;
    margin-right: 10px;
}

.textarea-container {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

button {
    text-align: center;
}
footer {
    text-align: center;
}




/*-FLOATS CLEARFIX-----------
===========================*/
fieldset {
    margin: 0;
    padding: 0;
    border: none;
}


/*---MEDIA QUERY----------------
/* media query screen 768px---*/

 @media (min-width: 768px)  {




/*---Page Elements----------
===========================*/





/*-FLOATS CLEARFIX-----------
===========================*/




}





/*---MEDIA QUERY----------------
/* media query screen 1024px---*/

 @media (min-width: 1024px)  {

 

/*---Page Elements----------
===========================*/





/*-FLOATS CLEARFIX-----------
===========================*/






.clearfix:after {
    content: "";
    display: table;
    clear: both;
  } 

}
 